Repository jjyun-do/backend-system, changes with the labels that .github/labeler.yml gives for each.
All labels: platform :zap:, data-query-service :chart:, CI/CD :jack_o_lantern:, documentation :memo:, swagger :eyes:, test code :teddy_bear:, user :busts_in_silhouette:

🐛 Fix issue rc2 (#235)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/exception/GlobalErrorAttributes.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/InvitationHandler.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  platform/build.gradle.kts
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/config/JacksonConfig.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/task/UpdateTaskCommand.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/task/UpdateTaskServiceTest.kt
  platform/swagger.yml
Labels: platform :zap:, swagger :eyes:, test code :teddy_bear:

♻️ Validate required fields (#225)
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/task/UpdateTaskCommand.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/task/UpdateTaskService.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/task/UpdateTaskServiceTest.kt
  platform/swagger.yml
Labels: platform :zap:, swagger :eyes:, test code :teddy_bear:

:Fix: Handle empty request / Testcases for UpdateTaskCommand (#233)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/CreateRoleHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/InvitationHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/RemoveUserRolesHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/ResetAccountHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/SignInHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/SignUpHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/TokenRefreshHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/VerifyEmailHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/CreateRoleRouter.kt
  account-service/src/test/resources/application.yml
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/task/UpdateTaskCommand.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/port/input/project/task/UpdateTaskCommandTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/task/UpdateTaskServiceTest.kt
Labels: platform :zap:, test code :teddy_bear:

🐛 Fix task issues (#227)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/task/TaskDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/task/TaskRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/project/task/TaskOutputPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/task/UpdateTaskService.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/task/UpdateTaskServiceTest.kt
Labels: platform :zap:, test code :teddy_bear:

edit tca & edit test (#237)
  .ahub/tcchecker-tca/config.yaml
  trino-rule-update-service/src/test/kotlin/com/samsung/healthcare/trinoruleupdateservice/application/service/SchedulingServiceTest.kt
Labels: test code :teddy_bear:

:bug: fix object mapper to include default object mapper (#236)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/config/JacksonConfig.kt
Labels: platform :zap:

.github/labeler.yml:

'platform :zap:':
  - 'platform/**/*'

'data-query-service :chart:':
  - 'data-query-service/**/*'

'CI/CD :jack_o_lantern:':
  - '.github/workflows/*'

'documentation :memo:':
  - '**/*.md'

'swagger :eyes:':
  - '**/swagger.*'

'test code :teddy_bear:':
  - '**/test/**/*'

'user :busts_in_silhouette:':
  - 'platform/src/main/kotlin/com/samsung/healthcare/platform/user/**/*'
