Repository jjyun-do/backend-system, changes with the labels that .github/labeler.yml gives for each.
All labels: platform :zap:, data-query-service :chart:, CI/CD :jack_o_lantern:, documentation :memo:, swagger :eyes:, test code :teddy_bear:, user :busts_in_silhouette:

.github/labeler.yml:

'platform :zap:':
  - 'platform/**/*'

'data-query-service :chart:':
  - 'data-query-service/**/*'

'CI/CD :jack_o_lantern:':
  - '.github/workflows/*'

'documentation :memo:':
  - '**/*.md'

'swagger :eyes:':
  - '**/swagger.*'

'test code :teddy_bear:':
  - '**/test/**/*'

'user :busts_in_silhouette:':
  - 'platform/src/main/kotlin/com/samsung/healthcare/platform/user/**/*'

:sparkles: Support token refresh (#175)
  account-service/build.gradle.kts
  account-service/src/main/kotlin/com/samsung/healthcare/account/AccountServiceApplication.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/persistence/TokenDatabaseAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/persistence/TokenRepository.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/persistence/config/FlywayConfig.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/persistence/entity/TokenEntity.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/exception/GlobalErrorAttributes.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/SignInHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/TokenRefreshHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/PathConstant.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/TokenRefreshRouter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/config/DatabaseProperties.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/exception/ExpiredRefreshTokenException.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/exception/InvalidTokenException.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/TokenRefreshCommand.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/TokenRefreshResponse.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/TokenRefreshUsecase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/AuthServicePort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/TokenStoragePort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/SignInService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/TokenService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/domain/Token.kt
  account-service/src/main/resources/application.yml
  account-service/src/main/resources/db/migration/V0.0.1__create_tokens_table.sql
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/TokenRefreshHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/SignInServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/TokenServiceTest.kt
  account-service/swagger.yml
Labels: swagger :eyes:, test code :teddy_bear:

:white_check_mark: Run tests when trino-rule-update-service files are changed
  .github/workflows/test.yml
Labels: CI/CD :jack_o_lantern:

:white_check_mark: Add negative test to SchedulingServiceTest
  trino-rule-update-service/src/test/kotlin/com/samsung/healthcare/trinoruleupdateservice/application/service/SchedulingServiceTest.kt
Labels: test code :teddy_bear:

:white_check_mark: Add CatalogTest
  trino-rule-update-service/src/test/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/trino/rule/CatalogTest.kt
Labels: test code :teddy_bear:

:white_check_mark: Add tests for adapter.persistence.config (#190)
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/config/FlywayConfigTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/config/ReactivePostgresConfigTest.kt
Labels: platform :zap:, test code :teddy_bear:

:memo: update error responses for Signup and VerifyEmail
  account-service/swagger.yml
Labels: swagger :eyes:

update response of signup
  account-service/swagger.yml
Labels: swagger :eyes:

:memo: update account-service's swagger file.
  account-service/swagger.yml
Labels: swagger :eyes:

:white_check_mark: Add ProjectDatabaseAdapterTest and ProjectTest (#193)
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/ProjectDatabaseAdapterTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/config/FlywayConfigTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/domain/ProjectTest.kt
Labels: platform :zap:, test code :teddy_bear:

:sparkles: Add SignUp, VerifyEmail APIs (#191)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/PathConstant.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokensApi.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/exception/GlobalErrorAttributes.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/SignUpHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/VerifyEmailHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/PathConstant.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/SignUpRouter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/VerifyEmailRouter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/config/EmailVerificationProperties.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/exception/AlreadyExistedEmailException.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/exception/InternalServerException.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/exception/InvalidEmailVerificationTokenException.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/SignUpCommand.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/SignUpUseCase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/VerifyEmailUseCase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/AuthServicePort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/AccountService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/MailService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/SignUpService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/VerifyEmailService.kt
  account-service/src/main/resources/application.yml
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/SignUpHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/VerifyEmailHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/AccountServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/MailServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/SignUpServiceTest.kt
  account-service/swagger.yml
Labels: swagger :eyes:, test code :teddy_bear:

:sparkles: Update to check isVerifiedEmail from SignIn & Invitation API (#195)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/exception/GlobalErrorAttributes.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/exception/UnverifiedEmailException.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/AccountService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/SignInService.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/AccountServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/SignInServiceTest.kt
Labels: test code :teddy_bear:

:sparkles: Apply AuthZ on account-service's users API (#194)
  account-role/src/main/kotlin/com/samsung/healthcare/account/application/accesscontrol/AccessControlAspect.kt
  account-role/src/test/kotlin/com/samsung/healthcare/account/application/accesscontrol/AccessControlAspectTest.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/ListUserHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/ListUserRouter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/PathConstant.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/ListUserService.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/ListUserHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/ListUserServiceTest.kt
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/adapter/output/web/AccountServiceAdapter.kt
  trino-rule-update-service/src/test/kotlin/com/samsung/healthcare/trinoruleupdateservice/adapter/output/web/AccountServiceAdapterTest.kt
Labels: test code :teddy_bear:

:lock: Use prepareStatement (#197)
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/persistence/DataStorageAdapter.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/adapter/persistense/DataStorageAdapterTest.kt
Labels: data-query-service :chart:, test code :teddy_bear:

:sparkles: Map 'team-admin' role to the first created account. (#198)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/PathConstant.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokensApi.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/exception/GlobalErrorAttributes.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/exception/UnknownEmailException.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/exception/UnknownRoleException.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/AuthServicePort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/SignUpService.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/SignUpServiceTest.kt
Labels: test code :teddy_bear:

:lock: Add Schema domain and update allowed authorities (#199)
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/trino/rule/Rule.kt
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/trino/rule/Schema.kt
  trino-rule-update-service/src/test/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/trino/rule/RuleTest.kt
Labels: test code :teddy_bear:

:memo: Modify swagger files (#201)
  account-service/swagger.yml
  platform/swagger.yml
Labels: platform :zap:, swagger :eyes:

:construction_worker: Add action for coverage rate comments on PRs (#204)
  .github/coverage_body.js
  .github/workflows/comment_coverage.yml
  build.gradle.kts
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/adapter/persistense/DataStorageAdapterTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/ItemMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/ItemResultMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/ProjectMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/TaskMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/TaskResultMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/UserProfileMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/BloodPressureMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/HeartRateMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/SleepSessionMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/SleepStageMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/StepsMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/GetProjectServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/task/CreateTaskServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/task/GetTaskServiceTest.kt
Labels: platform :zap:, data-query-service :chart:, CI/CD :jack_o_lantern:, test code :teddy_bear:

:sparkles: Update verifyEmail API to return Access/Refresh Token. (#203)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/VerifyEmailHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/VerifyEmailResponse.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/VerifyEmailUseCase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/AuthServicePort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/SignInService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/TokenService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/VerifyEmailService.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/VerifyEmailHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/SignInServiceTest.kt
Labels: test code :teddy_bear:

:sparkles: Block 'SHOW CATALOGS/COLUMNS/SCHEMAS/SESSION' sql query. (#206)
  buildSrc/src/main/kotlin/Dependencies.kt
  data-query-service/build.gradle.kts
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/persistence/DataStorageAdapter.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/exception/GlobalExceptionHandler.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/exception/ForbiddenSqlStatementTypeException.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/adapter/persistense/DataStorageAdapterTest.kt
Labels: data-query-service :chart:, test code :teddy_bear:

:memo: Update swagger file about VerifyEmail and ResendVerificationMail APIs. (#207)
  account-service/swagger.yml
Labels: swagger :eyes:

:goal_net: Add UserAlreadyExistsException (#200)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/UserProfileDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/exception/GlobalErrorAttributes.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/exception/UserAlreadyExistsException.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/UserProfileService.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/UserProfileDatabaseAdapterTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/UserProfileServiceTest.kt
Labels: platform :zap:, test code :teddy_bear:

✨ Add base code for GraphQL (#212)
  buildSrc/src/main/kotlin/Dependencies.kt
  data-query-service/build.gradle.kts
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/DataQueryServiceApplication.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/persistence/DataStorageAdapter.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/persistence/common/ResultSetExtensions.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/GraphqlRestController.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/exception/DataFetchingExceptionHandler.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/graphql/DgsContextExtension.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/interceptor/JwtAuthenticationInterceptor.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/exception/TableNotFoundException.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/output/QueryDataPort.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/service/QueryDataService.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/service/queries.kt
  data-query-service/src/main/resources/schema/schema.graphqls
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/adapter/persistense/DataStorageAdapterTest.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/application/service/QueryDataServiceTest.kt
Labels: data-query-service :chart:, test code :teddy_bear:

coverage comments by module, details on modifications (#211)
  .github/coverage_body.js
  .github/workflows/comment_coverage.yml
  .github/workflows/test.yml
Labels: CI/CD :jack_o_lantern:

:construction_worker: Update artifactory (#209)
  .github/workflows/build_and_upload.yml
  .github/workflows/deploy.yml
  .github/workflows/pull_request_labeler.yml
  .github/workflows/se_verification.yml
  .github/workflows/test.yml
Labels: CI/CD :jack_o_lantern:

:sparkles: Implement Table-related graphql api (#213)
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/graphql/TableDataFetcher.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/input/TableDataQuery.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/service/TableDataQueryService.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/graphql/TableDataFetcherTest.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/application/service/TableDataQueryServiceTest.kt
Labels: data-query-service :chart:, test code :teddy_bear:

:sparkles: Implement task-related graphql api (#214)
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/graphql/TaskDataFetcher.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/input/TaskDataQuery.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/service/TaskDataQueryService.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/graphql/TaskDataFetcherTest.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/application/service/TaskDataQueryServiceTest.kt
Labels: data-query-service :chart:, test code :teddy_bear:

:sparkles: Implement healthdata-related graphql api (#215)
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/graphql/HealthDataFetcher.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/input/HealthDataQuery.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/input/UserDataQuery.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/service/HealthDataQueryService.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/service/UserDataQueryService.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/service/queries.kt
  data-query-service/src/main/resources/schema/schema.graphqls
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/graphql/HealthDataFetcherTest.kt
Labels: data-query-service :chart:, test code :teddy_bear:

:sparkles: Add resending verification email API (#205)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/VerifyEmailHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/PathConstant.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/VerifyEmailRouter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/VerifyEmailUseCase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/AuthServicePort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/VerifyEmailService.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/VerifyEmailHandlerTest.kt
Labels: test code :teddy_bear:

:white_check_mark: Add testcase for HealthDataQueryService (#216)
  .github/workflows/test.yml
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/service/HealthDataQueryService.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/application/service/HealthDataQueryServiceTest.kt
Labels: data-query-service :chart:, CI/CD :jack_o_lantern:, test code :teddy_bear:

:white_check_mark::bug: Replace tc name and add assert (#217)
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/config/ReactivePostgresConfigTest.kt
Labels: platform :zap:, test code :teddy_bear:

:white_check_mark: Add Testcases (#218)
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/VerifyEmailHandlerTest.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/exception/GlobalExceptionHandler.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/input/QueryDataCommand.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/DataQueryControllerTest.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/graphql/HealthDataFetcherTest.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/application/service/QueryDataServiceTest.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/exception/GlobalErrorAttributes.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/CreateUserCommand.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/task/GetTaskCommand.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/ProjectHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/UserProfileHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/healthdata/HealthDataHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/healthdata/CreateHealthDataServiceTest.kt
Labels: platform :zap:, data-query-service :chart:, test code :teddy_bear:

:bug: Match test-artifact-name with test result name (#219)
  .github/workflows/se_verification.yml
Labels: CI/CD :jack_o_lantern:

:bug: Fix the version of graphql-dgs. (#222)
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: none

:bug: Return bad request when body is not valid (#229)
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/exception/GlobalExceptionHandler.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/DataQueryControllerTest.kt
Labels: data-query-service :chart:, test code :teddy_bear:

:bug: Throw UserAlreadyExistsException with duplicated user registration (#220)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/UserProfileDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/UserProfileService.kt
Labels: platform :zap:

:white_check_mark: Add assertions (#221)
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/TokenRefreshHandlerTest.kt
Labels: test code :teddy_bear:

:bug: Return Not found when project path is not valid (#228)
  .github/coverage_body.js
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/ProjectDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/filter/TenantHandlerFilterFunction.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/GetProjectQuery.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/LoadProjectPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/GetProjectService.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/UserProfileHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/healthdata/HealthDataHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskResultHandlerTest.kt
Labels: platform :zap:, test code :teddy_bear:

📝 add header information to api docs (#224)
  platform/swagger.yml
Labels: platform :zap:, swagger :eyes:

:art: Add new config values, lifetime of tokens. (#223)
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/config/TokenLifetimeProperties.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/TokenService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/domain/Token.kt
  account-service/src/main/resources/application.yml
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/SignInServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/TokenServiceTest.kt
Labels: test code :teddy_bear:

🐛 Fix issue rc1 platform (#230)
  account-service/Dockerfile
  account-service/build.gradle.kts
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/ProjectDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/UserProfileHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskResultHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/exception/DuplicateProjectNameException.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/exception/GlobalErrorAttributes.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/CreateProjectCommand.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/task/UploadTaskResultCommand.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/Project.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/UserProfile.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/Item.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/ItemResult.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/Task.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/UserProfileHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskResultHandlerTest.kt
  platform/swagger.yml
Labels: platform :zap:, swagger :eyes:, test code :teddy_bear:
