Repository jjyun-do/backend-system, changes with the labels that .github/labeler.yml gives for each.
All labels: platform :zap:, data-query-service :chart:, CI/CD :jack_o_lantern:, documentation :memo:, swagger :eyes:, test code :teddy_bear:, user :busts_in_silhouette:

:necktie: Handle account profile (#140)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/SignInHandler.kt
  account-service/swagger.yml
Labels: swagger :eyes:

:necktie: Update reset logic (#141)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/PathConstant.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokensApi.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/ResetAccountHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/ResetPasswordHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/ResetPasswordRouter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/UpdateAccountProfileCommand.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/UpdateAccountProfileUseCase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/AuthServicePort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/UpdateAccountProfileService.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/ResetPasswordHandlerTest.kt
Labels: test code :teddy_bear:

:bug: Fix bugs with invitation and testcode (#143)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/ResetAccountRouter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/MailService.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/ResetAccountHandlerTest.kt
Labels: test code :teddy_bear:

:sparkles: Add last_synced_at field on user_profiles table (#148)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/project/UserProfileEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/UserProfileDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/healthdata/HealthDataHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskResultHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskResultRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/UpdateUserProfileLastSyncedTimeUseCase.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/project/UserProfileOutputPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/UserProfileService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/UserProfile.kt
  platform/src/main/resources/project_tables/user_profile.sql
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/UserProfileMapperTest.kt
Labels: platform :zap:, test code :teddy_bear:

:bug: Add published_at field to use in mobile application (#142)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/project/task/TaskEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/task/TaskDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/task/TaskRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/common/ServerRequestExtenstions.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/filter/IdTokenFilterFunction.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/task/GetTaskCommand.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/project/task/TaskOutputPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/task/GetTaskService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/task/UpdateTaskService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/Task.kt
  platform/src/main/resources/project_tables/task.sql
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/TaskMapperTest.kt
  platform/swagger.yml
Labels: platform :zap:, swagger :eyes:, test code :teddy_bear:

:sparkles: Add BloodPressure datatype (#150)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/BloodPressureMapper.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/project/healthdata/BloodPressureEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/project/healthdata/HealthDataEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/healthdata/BloodPressureRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/healthdata/HealthDataRepositoryLookup.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/healthdata/BloodPressure.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/healthdata/HealthData.kt
  platform/src/main/resources/project_tables/blood_pressures.sql
Labels: platform :zap:

:bug: Support when star time and published at is null (#151)
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/task/GetTaskService.kt
Labels: platform :zap:

:sparkles: Create trino-rule-update-service module (#144)
  buildSrc/src/main/kotlin/Dependencies.kt
  settings.gradle.kts
  trino-rule-update-service/Dockerfile
  trino-rule-update-service/build.gradle.kts
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/TrinoRuleUpdateServiceApplication.kt
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/adapter/output/file/TrinoConfigFileAdapter.kt
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/adapter/output/web/AccountServiceAdapter.kt
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/application/config/ApplicationProperties.kt
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/application/port/output/GetUsersPort.kt
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/application/port/output/UpdateRulePort.kt
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/application/service/SchedulingService.kt
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/accountservice/Role.kt
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/accountservice/User.kt
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/trino/rule/Catalog.kt
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/trino/rule/Rule.kt
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/trino/rule/Table.kt
  trino-rule-update-service/src/main/resources/application.yaml
Labels: none

:sparkles: Add JwtAuthenticationInterceptor on DQS (#145)
  data-query-service/build.gradle.kts
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/persistence/DataStorageAdapter.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/DataQueryController.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/HeaderConstants.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/interceptor/JwtAuthenticationInterceptor.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/interceptor/UserIdInterceptor.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/interceptor/WebMvcConfiguration.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/security/SecurityConfig.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/config/ApplicationProperties.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/config/JwtDecoderConfig.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/context/AuthContext.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/exception/GlobalExceptionHandler.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/exception/UnauthorizedException.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/input/QueryDataUseCase.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/output/QueryDataPort.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/service/QueryDataService.kt
  data-query-service/src/main/resources/application.yaml
Labels: data-query-service :chart:

:sparkles: Update dqs and trino's helm chart (#147)
  data-query-service/deploy/data-query-service/templates/deployment.yaml
  data-query-service/deploy/data-query-service/templates/service.yaml
  data-query-service/deploy/data-query-service/values.yaml
  data-query-service/deploy/trino/templates/deployment-coordinator.yaml
  data-query-service/deploy/trino/values.yaml
Labels: data-query-service :chart:

add optional fields and basic validation logics (#152)
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/task/UpdateTaskCommand.kt
Labels: platform :zap:

:bug: Fix published_at bug (#153)
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/task/UpdateTaskService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/Task.kt
Labels: platform :zap:

📝 Code documentation: service (#154)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/ProjectHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/UserProfileHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/healthdata/HealthDataHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/healthdata/SaveHealthDataUseCase.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/CreateProjectService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/GetProjectService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/UserProfileService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/healthdata/CreateHealthDataService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/task/CreateTaskService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/task/GetTaskService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/task/UpdateTaskService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/task/UploadTaskResultService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/Project.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/UserProfile.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/healthdata/BloodPressure.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/healthdata/HealthData.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/healthdata/HeartRate.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/healthdata/IntervalData.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/healthdata/SampleData.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/healthdata/SleepSession.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/healthdata/SleepStage.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/healthdata/Steps.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/Item.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/ItemResult.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/Task.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/TaskResult.kt
Labels: platform :zap:

:white_check_mark: Run tests for changed modules (#155)
  .github/workflows/test.yml
Labels: CI/CD :jack_o_lantern:

Application service tests (#156)
  buildSrc/src/main/kotlin/Dependencies.kt
  platform/build.gradle.kts
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/Item.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/CreateProjectServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/GetProjectServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/task/CreateTaskServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/task/GetTaskServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/task/UpdateTaskServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/task/UploadTaskResultServiceTest.kt
Labels: platform :zap:, test code :teddy_bear:

Adopted jacoco for code coverage testing (#157)
  build.gradle.kts
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/healthdata/CreateHealthDataServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/task/CreateTaskServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/task/GetTaskServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/task/UpdateTaskServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/task/UploadTaskResultServiceTest.kt
Labels: platform :zap:, test code :teddy_bear:

:white_check_mark: Write tests of account-service (#158)
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/CreateRoleHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/ListUserHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/TestHelper.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/ListUserServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/RegisterRolesServiceTest.kt
Labels: test code :teddy_bear:

:white_check_mark: Added tests for mappers, modified locations to match main (#159)
  platform/build.gradle.kts
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/ItemMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/ItemResultMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/TaskMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/TaskResultMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/BloodPressureMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/HeartRateMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/SleepSessionMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/SleepStageMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/StepsMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/CreateProjectServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/UserProfileServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/task/GetTaskServiceTest.kt
Labels: platform :zap:, test code :teddy_bear:

:white_check_mark: Add configuration for SE Verification (#160)
  .ahub/tcchecker-tca/config.yaml
  .github/workflows/se_verification.yml
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/InformationConverterTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/ItemMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/ItemResultMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/ProjectMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/TaskMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/TaskResultMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/UserProfileMapperTest.kt
Labels: platform :zap:, CI/CD :jack_o_lantern:, test code :teddy_bear:

:white_check_mark: Write tests for account-service (#161)
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/ListUserHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/MailServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/UpdateAccountProfileServiceTest.kt
Labels: test code :teddy_bear:

Platform unit tests for handler/router (#164)
  platform/src/main/kotlin/com/samsung/healthcare/platform/HealthResearchPlatformApplication.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/exception/ExceptionHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/security/SecurityConfig.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/ProjectHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/UserProfileHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/healthdata/HealthDataHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskResultHandlerTest.kt
  platform/src/test/resources/application.yml
Labels: platform :zap:, test code :teddy_bear:

:white_check_mark: Write tests for data-query-service (#163)
  data-query-service/build.gradle.kts
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/DataQueryController.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/exception/GlobalExceptionHandler.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/DataQueryServiceApplicationTests.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/DataQueryControllerTest.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/application/service/QueryDataServiceTest.kt
Labels: data-query-service :chart:, test code :teddy_bear:

:bug: Fix a bug about metadata syntax in test.yml (#165)
  .github/workflows/test.yml
Labels: CI/CD :jack_o_lantern:

:white_check_mark: Add Tag for each testcase and some testcases (#167)
  account-role/src/main/kotlin/com/samsung/healthcare/account/application/service/GetAccountService.kt
  account-role/src/test/kotlin/com/samsung/healthcare/account/application/accesscontrol/AccessControlAspectTest.kt
  account-role/src/test/kotlin/com/samsung/healthcare/account/application/service/GetAccountServiceTest.kt
  account-role/src/test/kotlin/com/samsung/healthcare/account/domain/AccountTest.kt
  account-role/src/test/kotlin/com/samsung/healthcare/account/domain/EmailTest.kt
  account-role/src/test/kotlin/com/samsung/healthcare/account/domain/RoleTest.kt
Labels: test code :teddy_bear:

:white_check_mark: Add test tag for each tc and some negative testcaes (#169)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/AssignRoleHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/CreateRoleHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/ResetAccountHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/CreateProjectRoleRequest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/TestTag.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/filter/JwtTokenAuthenticationFilterTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/AssignRoleHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/CreateRoleHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/InvitationHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/ListUserHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/RemoveUserRolesHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/ResetAccountHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/SignInHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/AccountServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/ListUserServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/MailServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/RegisterRolesServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/ResetPasswordServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/SignInServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/UpdateAccountProfileServiceTest.kt
  build.gradle.kts
Labels: test code :teddy_bear:

:white_check_mark: Add TC & Tag for DQS (#170)
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/persistence/DataStorageAdapter.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/exception/ErrorResponse.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/exception/GlobalExceptionHandler.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/adapter/persistense/DataStorageAdapterTest.kt
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/DataQueryControllerTest.kt
Labels: data-query-service :chart:, test code :teddy_bear:

:construction_worker: Disable bootJar task for account-role and Build all modules (#172)
  .github/workflows/build_and_upload.yml
  account-role/build.gradle.kts
Labels: CI/CD :jack_o_lantern:

:sparkles: Apply AuthN/AuthZ on Task APIs. (#168)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/UserProfileDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskResultHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/ExistUserProfileUseCase.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/task/CreateTaskUseCase.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/task/GetTaskUseCase.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/task/UpdateTaskUseCase.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/project/UserProfileOutputPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/UserProfileService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/task/CreateTaskService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/task/GetTaskService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/task/UpdateTaskService.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskResultHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/task/CreateTaskServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/task/GetTaskServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/project/task/UpdateTaskServiceTest.kt
Labels: platform :zap:, test code :teddy_bear:

:white_check_mark: Add trino-rule-update-service-tests (#173)
  trino-rule-update-service/build.gradle.kts
  trino-rule-update-service/src/test/kotlin/com/samsung/healthcare/trinoruleupdateservice/TestTag.kt
  trino-rule-update-service/src/test/kotlin/com/samsung/healthcare/trinoruleupdateservice/adapter/output/web/AccountServiceAdapterTest.kt
  trino-rule-update-service/src/test/kotlin/com/samsung/healthcare/trinoruleupdateservice/application/service/SchedulingServiceTest.kt
  trino-rule-update-service/src/test/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/accountservice/RoleTest.kt
  trino-rule-update-service/src/test/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/accountservice/UserTest.kt
  trino-rule-update-service/src/test/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/trino/rule/RuleTest.kt
Labels: test code :teddy_bear:

:white_check_mark: Add TaskDatabaseAdapterTest (#174)
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/task/TaskDatabaseAdapterTest.kt
Labels: platform :zap:, test code :teddy_bear:

:construction_worker: Apply TestHub (#176)
  .github/workflows/se_verification.yml
  build.gradle.kts
Labels: CI/CD :jack_o_lantern:

:white_check_mark: Add negative tests for databaseAdapters (#180)
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/task/ItemDatabaseAdapterTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/task/TaskDatabaseAdapterTest.kt
Labels: platform :zap:, test code :teddy_bear:

:fire: Remove not-existed api in swagger (#178)
  platform/swagger.yml
Labels: platform :zap:, swagger :eyes:

:white_check_mark: Add negative tests to TaskHandlerTest.kt (#182)
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskHandlerTest.kt
Labels: platform :zap:, test code :teddy_bear:

:white_check_mark: Add test for trino-rule-update-service (#183)
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/accountservice/Role.kt
  trino-rule-update-service/src/main/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/trino/rule/Rule.kt
  trino-rule-update-service/src/test/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/accountservice/RoleTest.kt
  trino-rule-update-service/src/test/kotlin/com/samsung/healthcare/trinoruleupdateservice/domain/trino/rule/RuleTest.kt
Labels: test code :teddy_bear:

:white_check_mark: Add negative tests for mappers (#181)
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/ItemMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/ProjectMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/TaskMapperTest.kt
Labels: platform :zap:, test code :teddy_bear:

Add negative tests relating to IdTokenFIlterFunction (#184)
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/ProjectHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/UserProfileHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/healthdata/HealthDataHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskResultHandlerTest.kt
Labels: platform :zap:, test code :teddy_bear:

:white_check_mark: Add negative test for platform (#186)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/healthdata/HealthDataHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/CreateProjectCommand.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/ProjectHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/UserProfileHandlerTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/healthdata/HealthDataHandlerTest.kt
Labels: platform :zap:, test code :teddy_bear:

:construction_worker: Add release-key and plm code (#187)
  .github/workflows/se_verification.yml
Labels: CI/CD :jack_o_lantern:

:memo: update swagger (#185)
  account-service/swagger.yml
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskHandler.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskHandlerTest.kt
  platform/swagger.yml
Labels: platform :zap:, swagger :eyes:, test code :teddy_bear:

.github/labeler.yml:

'platform :zap:':
  - 'platform/**/*'

'data-query-service :chart:':
  - 'data-query-service/**/*'

'CI/CD :jack_o_lantern:':
  - '.github/workflows/*'

'documentation :memo:':
  - '**/*.md'

'swagger :eyes:':
  - '**/swagger.*'

'test code :teddy_bear:':
  - '**/test/**/*'

'user :busts_in_silhouette:':
  - 'platform/src/main/kotlin/com/samsung/healthcare/platform/user/**/*'
