Repository jjyun-do/backend-system, changes with the labels that .github/labeler.yml gives for each.
All labels: platform :zap:, CI/CD :jack_o_lantern:, documentation :memo:, swagger :eyes:, test code :teddy_bear:, user :busts_in_silhouette:

.github/labeler.yml:

'platform :zap:':
  - 'platform/**/*'

'CI/CD :jack_o_lantern:':
  - '.github/workflows/*'

'documentation :memo:':
  - '**/*.md'

'swagger :eyes:':
  - '**/swagger.*'

'test code :teddy_bear:':
  - '**/test/**/*'

'user :busts_in_silhouette:':
  - 'platform/src/main/kotlin/com/samsung/healthcare/platform/user/**/*'

:construction_worker: Add ci flow to platform (#51)
  .github/workflows/build_and_upload.yml
  build.gradle.kts
  platform/Dockerfile
  platform/build.gradle.kts
Labels: platform :zap:, CI/CD :jack_o_lantern:

add cd flow to platform (#52)
  .github/workflows/build_and_upload.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  platform/deploy/.helmignore
  platform/deploy/Chart.yaml
  platform/deploy/templates/_helpers.tpl
  platform/deploy/templates/configmap.yaml
  platform/deploy/templates/deployment.yaml
  platform/deploy/templates/service.yaml
  platform/deploy/templates/tests/test-connection.yaml
  platform/deploy/values.stg.yaml
  platform/deploy/values.yaml
Labels: platform :zap:, CI/CD :jack_o_lantern:

:sparkles: Implement project list api (#53)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/ProjectDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/ProjectHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/ProjectRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/security/SecurityConfig.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/GetProjectQuery.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/LoadProjectPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/GetProjectService.kt
Labels: platform :zap:

:truck: Update apis to sync with swagger (#54)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/HealthDataRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/ProjectHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/ProjectRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/ServerRequestExtenstions.kt
Labels: platform :zap:

:sparkles: Implement ContextHolder for saving data per requests (#55)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/context/ContextHolder.kt
Labels: platform :zap:

change directory in cd flow (#58)
  .github/workflows/deploy.yml
  platform/deploy/templates/deployment.yaml
Labels: platform :zap:, CI/CD :jack_o_lantern:

:sparkles: Implement registering user(participant) (#57)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/UserProfileDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/UserProfileRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/UserEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/common/BaseIdEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/common/BaseUserIdEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/project/UserProfileEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/HealthDataRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/UserProfileHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/UserProfileRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/UserRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/common/ServerRequestExtenstions.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/UserProfileInputPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/UserProfileOutputPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/UserProfileService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/UserProfile.kt
  platform/swagger.yml
Labels: platform :zap:, swagger :eyes:

:sparkles: Implement verify jwt filter (#61)
  .github/workflows/test.yml
  buildSrc/src/main/kotlin/Dependencies.kt
  platform/build.gradle.kts
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/UserProfileRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/filter/IdTokenFilterFunction.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/security/SecurityConfig.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/HealthResearchPlatformApplicationTests.kt
Labels: platform :zap:, CI/CD :jack_o_lantern:, test code :teddy_bear:

:sparkles: Implement multi-tenant db feature. (#56)
  buildSrc/src/main/kotlin/Dependencies.kt
  platform/build.gradle.kts
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/ProjectDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/config/MultiTenantRoutingConnectionFactory.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/config/ReactivePostgresConfig.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/filter/ProjectIdWebFilter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/config/ApplicationProperties.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/config/ConnectionSpec.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/config/Constants.kt
  platform/src/main/resources/application.yml
  platform/src/test/resources/application.yml
  platform/src/test/resources/multi-tenant-config.yaml
Labels: platform :zap:, test code :teddy_bear:

:sparkles: Add user health data save feature (#60)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/HealthDataRepositoryLookup.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/IntervalDataStorageAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/SampleDataStorageAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/SaveHealthDataStorageAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/SleepSessionRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/StepsRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/healthdata/HealthDataEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/healthdata/HeartRateEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/healthdata/SleepSession.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/healthdata/SleepStageEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/healthdata/StepsEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/HealthDataHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/HealthDataRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/UserProfileHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/UserProfileRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/context/ContextHolder.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/filter/IdTokenFilterFunction.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/CreateHealthDataUseCase.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/SaveHealthDataCommand.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/SaveHealthDataUseCase.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/CreateIntervalDataPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/CreateSampleDataPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/SaveHealthDataPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/CreateHealthDataService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/healthdata/HealthData.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/healthdata/HeartRate.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/healthdata/IntervalData.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/healthdata/SampleData.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/healthdata/SleepSession.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/healthdata/SleepStage.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/healthdata/Steps.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/UserProfile.kt
Labels: platform :zap:

:construction_worker: Add service account key of firebase (#62)
  .github/workflows/build_and_upload.yml
  platform/Dockerfile
  platform/deploy/templates/configmap.yaml
  platform/deploy/templates/deployment.yaml
  platform/deploy/templates/service.yaml
  platform/deploy/values.stg.yaml
  platform/deploy/values.yaml
  platform/service-account-key.json.cpt
Labels: platform :zap:, CI/CD :jack_o_lantern:

:rotating_light: Remove empty default constructor () (#66)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/config/MultiTenantRoutingConnectionFactory.kt
Labels: platform :zap:

:recycle: Implement Handler filter function for routing db (#67)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/config/MultiTenantRoutingConnectionFactory.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/HealthDataRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/ProjectRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/UserProfileRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/context/ContextHolder.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/filter/IdTokenFilterFunction.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/filter/ProjectIdWebFilter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/filter/TenantHandlerFilterFunction.kt
Labels: platform :zap:

:bug: Fix return type (#68)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/config/MultiTenantRoutingConnectionFactory.kt
Labels: platform :zap:

:bug: Remote tenant filter for project (#69)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/ProjectRouter.kt
Labels: platform :zap:

:bug: Change header key due to nginx limitation (#70)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/filter/IdTokenFilterFunction.kt
Labels: platform :zap:

:recycle: Change the type of exception (#71)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/UserProfileHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/UserProfileService.kt
Labels: platform :zap:

:sparkles: load multi-tenant db sources from projects table (#72)
  buildSrc/src/main/kotlin/Dependencies.kt
  platform/build.gradle.kts
  platform/deploy/templates/configmap.yaml
  platform/deploy/values.stg.yaml
  platform/deploy/values.yaml
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/ProjectDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/config/MultiTenantRoutingConnectionFactory.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/config/ReactivePostgresConfig.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/context/ContextHolder.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/config/ApplicationProperties.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/config/ConnectionSpec.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/config/Constants.kt
  platform/src/main/resources/application.yml
  platform/src/test/resources/application.yml
  platform/src/test/resources/multi-tenant-config.yaml
Labels: platform :zap:, test code :teddy_bear:

:sparkles: Create new module, data-query-service (#73)
  buildSrc/src/main/kotlin/Dependencies.kt
  data-query-service/Dockerfile
  data-query-service/build.gradle.kts
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/DataQueryServiceApplication.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/persistence/DataStorageAdapter.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/persistence/common/ResultSetExtensions.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/DataQueryController.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/config/ApplicationProperties.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/exception/ErrorResponse.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/exception/GlobalExceptionHandler.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/input/QueryDataCommand.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/input/QueryDataResultSet.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/input/QueryDataUseCase.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/output/QueryDataPort.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/output/QueryDataResult.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/service/QueryDataService.kt
  data-query-service/src/main/resources/application.yaml
  data-query-service/src/test/kotlin/com/samsung/healthcare/dataqueryservice/DataQueryServiceApplicationTests.kt
  settings.gradle.kts
Labels: test code :teddy_bear:

:sparkles: Add debug error handling option. (#75)
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/exception/ErrorResponse.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/exception/GlobalExceptionHandler.kt
Labels: none

:sparkles: Implement aop for RBAC (#77)
  buildSrc/src/main/kotlin/Dependencies.kt
  platform/build.gradle.kts
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/aop/Requires.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/aop/RequiresAspect.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/enums/Role.kt
Labels: platform :zap:

📝 Update swagger and separated by sub-module (#78)
  data-query-service/swagger.yml
  platform/swagger.yml
Labels: platform :zap:, swagger :eyes:

:fire: Remove files/codes related to Spring Security (#79)
  buildSrc/src/main/kotlin/Dependencies.kt
  platform/build.gradle.kts
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/security/OAuth2SuccessHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/security/ReactiveOAuth2UserService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/security/SecurityConfig.kt
  platform/src/main/resources/application.yml
  platform/src/test/resources/application.yml
Labels: platform :zap:, test code :teddy_bear:

:lock: disable basic auth (will be done in the api gateway..) (#82)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/security/SecurityConfig.kt
Labels: platform :zap:

:bug: Add firebase configuration for idtoken validation (#85)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/security/SecurityConfig.kt
Labels: platform :zap:

:fire: Remove unused schema (researcher) (#87)
  platform/swagger.yml
Labels: platform :zap:, swagger :eyes:

:fire: Delete unused files (#83)
  platform/src/main/resources/db/migration/V0.0.2__create_projects_table.sql
  platform/src/main/resources/db/migration/V0.0.3__create_heartrates_table.sql
  platform/src/main/resources/db/migration/V0.0.4__create_steps_sleepstage_table.sql
  platform/src/main/resources/db/migration/V0.0.5__create_sleepsession_table.sql
  platform/src/main/resources/db/migration/V0.0.6__add_column_into_projects.sql
  platform/src/main/resources/project_tables/sleeps.sql
Labels: platform :zap:

:sparkles: API Spec for account service (#88)
  account-service/swagger.yml
Labels: swagger :eyes:

:adhesive_bandage: change exception appropriately and delete duplicate code (#89)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/HealthDataRepositoryLookup.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/IntervalDataRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/IntervalDataStorageAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/SampleDataRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/SampleDataStorageAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/SaveHealthDataStorageAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/SleepStageRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/healthdata/SleepSessionEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/HealthDataHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/HealthDataRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/ProjectHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/common/ServerRequestExtenstions.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/exception/ErrorResponse.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/exception/ExceptionHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/exception/GlobalErrorAttributes.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/GetHealthDataCommand.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/GetHealthDataQuery.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/LoadIntervalDataCommand.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/LoadIntervalDataPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/LoadSampleDataCommand.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/LoadSampleDataPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/SaveHealthDataPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/CreateHealthDataService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/GetHealthDataService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/UserProfileService.kt
Labels: platform :zap:
