Repository jjyun-do/backend-system, changes with the labels that .github/labeler.yml gives for each.
All labels: platform :zap:, data-query-service :chart:, CI/CD :jack_o_lantern:, documentation :memo:, swagger :eyes:, test code :teddy_bear:, user :busts_in_silhouette:

.github/labeler.yml:

'platform :zap:':
  - 'platform/**/*'

'data-query-service :chart:':
  - 'data-query-service/**/*'

'CI/CD :jack_o_lantern:':
  - '.github/workflows/*'

'documentation :memo:':
  - '**/*.md'

'swagger :eyes:':
  - '**/swagger.*'

'test code :teddy_bear:':
  - '**/test/**/*'

'user :busts_in_silhouette:':
  - 'platform/src/main/kotlin/com/samsung/healthcare/platform/user/**/*'

:pencil2: Fix a typo in api document (#94)
  account-service/swagger.yml
Labels: swagger :eyes:

edit swagger for patch method (#96)
  platform/swagger.yml
Labels: platform :zap:, swagger :eyes:

🗃️ Add tables for task (tasks, items) (#81)
  platform/src/main/resources/project_tables/item.sql
  platform/src/main/resources/project_tables/task.sql
Labels: platform :zap:

:sparkles: Define interface for Account Service (#95)
  account-service/build.gradle.kts
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/AccountServicePort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/PasswordResetCommand.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/SignInResponse.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/AuthServicePort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/JWTGenerationCommand.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/TokenSigningPort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/domain/Account.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/domain/Email.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/domain/Role.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/domain/RoleFactory.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/domain/AccountTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/domain/EmailTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/domain/RoleTest.kt
  settings.gradle.kts
Labels: test code :teddy_bear:

:sparkles: Implement method to check project owner role (#99)
  account-service/build.gradle.kts
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/accesscontrol/AccessControlAspect.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/accesscontrol/Authorize.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/context/ContextHolder.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/exception/AlreadyExistedEmailException.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/AccountService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/MailService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/domain/Role.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/accesscontrol/AccessControlAspectTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/AccountServiceTest.kt
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: test code :teddy_bear:

:fire: Remove log (#102)
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/context/ContextHolder.kt
Labels: none

✨ add domain model for task and item (#100)
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/Item.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/Task.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/enums/ItemType.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/enums/TaskStatus.kt
Labels: platform :zap:

🎨 Add interface for task (#101)
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/CreateTaskResponse.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/CreateTaskUseCase.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/UpdateTaskCommand.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/UpdateTaskUseCase.kt
Labels: platform :zap:

:sparkles: Implement get account from jwt (#103)
  account-service/build.gradle.kts
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/config/ApplicationProperties.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/config/ReactiveJwtDecoderConfig.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/GetAccountUseCase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/GetAccountService.kt
  account-service/src/main/resources/application.yml
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/GetAccountServiceTest.kt
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: test code :teddy_bear:

:sparkles: Implement some account service api (#104)
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/exception/SignInException.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/AccountServicePort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/PasswordResetCommand.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/RegisterRolesUseCase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/ResetPasswordCommand.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/ResetPasswordUseCase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/SignInResponse.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/SignInUseCase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/AuthServicePort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/JwtGenerationCommand.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/TokenSigningPort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/AccountService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/MailService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/RegisterRolesService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/ResetPasswordService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/SignInService.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/AccountServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/RegisterRolesServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/ResetPasswordServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/SignInServiceTest.kt
Labels: test code :teddy_bear:

:sparkles: Implement invitation api (#106)
  account-service/build.gradle.kts
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/exception/GlobalErrorAttributes.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/exception/GlobalExceptionHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/InvitationHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/InvitationRouter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/PathConstant.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/domain/Account.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/InvitationHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/TestHelper.kt
  account-service/swagger.yml
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: swagger :eyes:, test code :teddy_bear:

:sparkles: Introduce supertoken adapter (#110)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SignInRequest.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SignInResponse.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenApi.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
Labels: test code :teddy_bear:

:sparkles: Implement task patch api (#105)
  build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  platform/build.gradle.kts
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/ProjectDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/config/ReactivePostgresConfig.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/TaskMapper.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/project/task/TaskEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/repository/project/task/TaskDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/repository/project/task/TaskRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/HealthDataRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/TaskHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/TaskRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/UserProfileRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/CreateTaskResponse.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/TaskOutputPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/CreateTaskService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/Task.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/TaskMapperTest.kt
Labels: platform :zap:, test code :teddy_bear:

:sparkles: Implment assign-role api (#109)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/AssignRoleHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/AssignRoleRouter.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/AssignRoleHandlerTest.kt
Labels: test code :teddy_bear:

:sparkles: Implement sign-in api (#107)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/SignInHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/SignInRouter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/SignInCommand.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/SignInUseCase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/SignInService.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/SignInHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/SignInServiceTest.kt
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: test code :teddy_bear:

:sparkles: Implement SuperTokensAdapter for AuthServicePort, TokenSigningPort (#112)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/config/SuperTokenConfig.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/PathConstant.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SignInRequest.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SignInResponse.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenApi.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokensApi.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/exception/InvalidResetTokenException.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/exception/UnknownAccountIdException.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/AuthServicePort.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
Labels: test code :teddy_bear:

:sparkles: Implement reset-password api (#114)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/ResetPasswordHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/ResetPasswordRouter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/ResetPasswordCommand.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/ResetPasswordService.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/ResetPasswordHandlerTest.kt
Labels: test code :teddy_bear:

update swagger to v0.9 (#113)
  platform/swagger.yml
Labels: platform :zap:, swagger :eyes:

✨ Implement patch for auto save (#111)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/ItemMapper.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/project/task/ItemEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/project/task/TaskEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/repository/project/task/ItemDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/repository/project/task/ItemRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/repository/project/task/TaskDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/TaskHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/TaskRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/common/ServerRequestExtenstions.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/UpdateTaskCommand.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/UpdateTaskUseCase.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/ItemOutputPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/TaskOutputPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/UpdateTaskService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/Item.kt
  platform/src/main/resources/project_tables/item.sql
Labels: platform :zap:

JwtTokenAuthenticationFilter 추가, AOP 버그 픽스 (#115)
  account-service/src/main/kotlin/com/samsung/healthcare/account/AccountServiceApplication.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/config/SecurityConfig.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/filter/JwtTokenAuthenticationFilter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/accesscontrol/AccessControlAspect.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/GetAccountService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/MailService.kt
  account-service/src/main/resources/application.yml
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/filter/JwtTokenAuthenticationFilterTest.kt
Labels: test code :teddy_bear:

📝 update swagger for upload result (#121)
  platform/swagger.yml
Labels: platform :zap:, swagger :eyes:

:lipstick: Modify mail message according to guide (#117)
  account-service/src/main/kotlin/com/samsung/healthcare/account/AccountServiceApplication.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/config/InvitationProperties.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/config/JwkProperties.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/config/ReactiveJwtDecoderConfig.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/MailService.kt
  account-service/src/main/resources/application.yml
Labels: none

:art: Refactor converting (dto <-> entity) to use mapstrucT (#118)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/UserProfileDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/ProjectMapper.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/UserMapper.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/UserProfileMapper.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/HeartRateMapper.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/SleepSessionMapper.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/SleepStageMapper.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/sub/StepsMapper.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/ProjectEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/UserEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/healthdata/HealthDataEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/healthdata/HeartRateEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/healthdata/SleepSessionEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/healthdata/SleepStageEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/healthdata/StepsEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/project/UserProfileEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/Project.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/User.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/HeartRateMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/ProjectMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/SleepSessionMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/SleepStageMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/StepsMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/TaskMapperTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/UserProfileMapperTest.kt
Labels: platform :zap:, test code :teddy_bear:

:sparkles: Implement GET task APIs. (#119)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/repository/project/task/ItemDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/repository/project/task/ItemRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/repository/project/task/TaskDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/repository/project/task/TaskRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/TaskHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/TaskRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/GetTaskCommand.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/GetTaskUseCase.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/ItemOutputPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/TaskOutputPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/GetTaskService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/Item.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/Task.kt
Labels: platform :zap:

As api (#122)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokensApi.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/filter/JwtTokenAuthenticationFilter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/ListUserHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/RemoveUserRolesHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/SignInHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/ListUserRouter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/PathConstant.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/RemoveUserRolesRouter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/accesscontrol/AccessControlAspect.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/accesscontrol/Requires.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/context/ContextHolder.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/ListUserUseCase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/AccountService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/ListUserService.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/domain/Account.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/domain/GrantedAuthorities.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/domain/Role.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/domain/RoleFactory.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/STTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/InvitationHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/RemoveUserRolesHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/ResetPasswordHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/web/handler/SignInHandlerTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/AccountServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/GetAccountServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/RegisterRolesServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/SignInServiceTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/domain/AccountTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/domain/RoleTest.kt
Labels: test code :teddy_bear:

:memo: Update swagger of account-service (#123)
  account-service/swagger.yml
Labels: swagger :eyes:

Mail asyn 전송 / Response v포맷 수정 (#125)
  account-role/build.gradle.kts
  account-role/src/main/kotlin/com/samsung/healthcare/account/application/accesscontrol/AccessControlAspect.kt
  account-role/src/main/kotlin/com/samsung/healthcare/account/application/accesscontrol/Requires.kt
  account-role/src/main/kotlin/com/samsung/healthcare/account/application/context/ContextHolder.kt
  account-role/src/main/kotlin/com/samsung/healthcare/account/application/port/input/GetAccountUseCase.kt
  account-role/src/main/kotlin/com/samsung/healthcare/account/application/service/GetAccountService.kt
  account-role/src/main/kotlin/com/samsung/healthcare/account/domain/Account.kt
  account-role/src/main/kotlin/com/samsung/healthcare/account/domain/Email.kt
  account-role/src/main/kotlin/com/samsung/healthcare/account/domain/GrantedAuthorities.kt
  account-role/src/main/kotlin/com/samsung/healthcare/account/domain/Role.kt
  account-role/src/main/kotlin/com/samsung/healthcare/account/domain/RoleFactory.kt
  account-role/src/test/kotlin/com/samsung/healthcare/account/application/accesscontrol/AccessControlAspectTest.kt
  account-role/src/test/kotlin/com/samsung/healthcare/account/application/service/GetAccountServiceTest.kt
  account-role/src/test/kotlin/com/samsung/healthcare/account/domain/AccountTest.kt
  account-role/src/test/kotlin/com/samsung/healthcare/account/domain/EmailTest.kt
  account-role/src/test/kotlin/com/samsung/healthcare/account/domain/RoleTest.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokensApi.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/ListUserHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/SignInHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/config/AccessControlConfig.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/MailService.kt
  account-service/swagger.yml
  settings.gradle.kts
Labels: swagger :eyes:, test code :teddy_bear:

:sparkels: Add the helm chart of data-query-service (#97)
  data-query-service/deploy/data-query-service/.helmignore
  data-query-service/deploy/data-query-service/Chart.yaml
  data-query-service/deploy/data-query-service/README.md
  data-query-service/deploy/data-query-service/templates/_helpers.tpl
  data-query-service/deploy/data-query-service/templates/deployment.yaml
  data-query-service/deploy/data-query-service/templates/service.yaml
  data-query-service/deploy/data-query-service/values.yaml
  data-query-service/deploy/trino/Chart.yaml
  data-query-service/deploy/trino/README.md
  data-query-service/deploy/trino/ci/custom-values.yaml
  data-query-service/deploy/trino/templates/NOTES.txt
  data-query-service/deploy/trino/templates/_helpers.tpl
  data-query-service/deploy/trino/templates/autoscaler.yaml
  data-query-service/deploy/trino/templates/configmap-catalog.yaml
  data-query-service/deploy/trino/templates/configmap-coordinator.yaml
  data-query-service/deploy/trino/templates/configmap-worker.yaml
  data-query-service/deploy/trino/templates/deployment-coordinator.yaml
  data-query-service/deploy/trino/templates/deployment-worker.yaml
  data-query-service/deploy/trino/templates/secret.yaml
  data-query-service/deploy/trino/templates/service.yaml
  data-query-service/deploy/trino/templates/serviceaccount.yaml
  data-query-service/deploy/trino/values.yaml
Labels: data-query-service :chart:, documentation :memo:

:sparkles: Add Authorization for project api (#126)
  account-role/src/main/kotlin/com/samsung/healthcare/account/domain/Account.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/STTest.kt
  platform/build.gradle.kts
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/ProjectDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/ProjectRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/ProjectHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/ProjectRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/context/ContextHolder.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/filter/JwtAuthenticationFilterFunction.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/config/AccessControlConfig.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/config/ApplicationProperties.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/config/GetAccountServiceConfig.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/LoadProjectPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/CreateProjectService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/GetProjectService.kt
  platform/src/main/resources/application.yml
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/CreateProjectServiceTest.kt
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/GetProjectServiceTest.kt
Labels: platform :zap:, test code :teddy_bear:

:sparkles: Get UserId from 'user-id' header. (#91)
  data-query-service/deploy/data-query-service/templates/deployment.yaml
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/persistence/DataStorageAdapter.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/DataQueryController.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/HeaderConstants.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/interceptor/UserIdInterceptor.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/adapter/web/interceptor/WebMvcConfiguration.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/context/AuthContext.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/input/QueryDataUseCase.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/port/output/QueryDataPort.kt
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/service/QueryDataService.kt
  data-query-service/src/main/resources/application.yaml
Labels: data-query-service :chart:

:sparkles: Request project role creation / Implement create role for project (#128)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/CreateRoleHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/CreateRoleRouter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/router/PathConstant.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/CreateProjectRoleRequest.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/RegisterRolesUseCase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/RegisterRolesService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/config/ApplicationProperties.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/config/CreateProjectRoleServiceConfig.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/CreateProjectRolePort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/CreateProjectService.kt
  platform/src/main/resources/application.yml
  platform/src/test/kotlin/com/samsung/healthcare/platform/application/service/CreateProjectServiceTest.kt
Labels: platform :zap:, test code :teddy_bear:

:necktie: Add AssignRoleAuthority for HeadResearcher (#130)
  account-role/src/main/kotlin/com/samsung/healthcare/account/domain/Role.kt
Labels: none

:sparkles: Add domain/entity models for taskResult and itemResult (#131)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/ItemResultMapper.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/converter/mapper/TaskResultMapper.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/project/task/ItemResultEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/entity/project/task/TaskResultEntity.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/ItemResult.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/domain/project/task/TaskResult.kt
  platform/src/main/resources/project_tables/item_result.sql
  platform/src/main/resources/project_tables/task_result.sql
Labels: platform :zap:

:rotating_light: Use safe casting (#136)
  data-query-service/src/main/kotlin/com/samsung/healthcare/dataqueryservice/application/context/AuthContext.kt
Labels: data-query-service :chart:

:necktie: Modify logic for inviting members (#133)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/PathConstant.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokensApi.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/exception/UnknownEmailException.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/AuthServicePort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/AccountService.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/application/service/AccountServiceTest.kt
Labels: test code :teddy_bear:

:sparkles: Implement PATCH taskResult API (#132)
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/task/ItemResultDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/task/ItemResultRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/task/TaskResultDatabaseAdapter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/persistence/project/task/TaskResultRepository.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskHandler.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/adapter/web/project/task/TaskRouter.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/task/UploadTaskResultCommand.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/input/project/task/UploadTaskResultUseCase.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/project/task/ItemResultOutputPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/port/output/project/task/TaskResultOutputPort.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/project/task/UploadTaskResultService.kt
Labels: platform :zap:

:sparkles: Implement authorizer (#134)
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/aop/Requires.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/aop/RequiresAspect.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/authorize/Authorizer.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/CreateProjectService.kt
  platform/src/main/kotlin/com/samsung/healthcare/platform/application/service/GetProjectService.kt
Labels: platform :zap:

👔 Get users of Project and add profile (#137)
  account-role/src/main/kotlin/com/samsung/healthcare/account/domain/Account.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/PathConstant.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokensApi.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/ListUserHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/ListUserUseCase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/AuthServicePort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/ListUserService.kt
  account-service/src/test/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapterTest.kt
  account-service/swagger.yml
Labels: swagger :eyes:, test code :teddy_bear:

👔 Return userId after password reset in Account Service (#138)
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokenAdapter.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/auth/supertoken/SuperTokensApi.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/exception/GlobalErrorAttributes.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/exception/GlobalExceptionHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/adapter/web/handler/ResetPasswordHandler.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/input/ResetPasswordUseCase.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/port/output/AuthServicePort.kt
  account-service/src/main/kotlin/com/samsung/healthcare/account/application/service/ResetPasswordService.kt
Labels: none

:memo: Update swagger that password reset request includes user profile (#139)
  account-service/swagger.yml
Labels: swagger :eyes:
